db.sqlite3
*.sw*
*__pycache__*

htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
static

obsolete

.env

.vscode
.vim

logs/*.*

local/
.DS_Store
*.ps1
example_env.ps1
*.ps1
example_env.ps1
*.ps1

notes.txt
*.ps1
example_env.ps1
ask_quick.csv
bid_quick.csv
joined_data_frame_quick_methdod.csv
joined_data_frame_slow_methdod.csv
joined_data_frame_slow_method_compare.csv
last_quick.csv
example_env.ps1

security_list.csv
to_run_redis_go_to_docker.txt
*.ps1
*.ps1
example_env.ps1
example_env.ps1
*.ps1
*.ps1
joined_data_frame.csv
datapoints.csv
datapoints_subset.csv
datapoints_subset_small.csv
*could_send*
silk-profiles/
full_txt.txt
